<div class="customer">
  <div class="customer_container">
    <div class="customer_container_title">
      <h1>HN Feed</h1>
      <h3>We < 3 hacker news</h3>
    </div>
  </div>
<div class="container">
  <table class="customer_table">
    <tbody>
      <tr *ngFor="let data of node;let i = index">
        <div *ngIf="data.title !== null || data.story_title !== null" >
          <a href={{data.story_url}}>
            <td *ngIf="data.story_title !== null" class="customer_table_title">{{data.story_title}}</td>     
            <td *ngIf="data.title !== null && data.story_title === null" class="customer_table_title">{{data.title}}</td>  
            <td class="customer_table_author text-center">-{{data.author}}-</td> 
            <td class="customer_table_created">{{data.created_at | date}}</td>
          </a>
          <div class="customer_table_btnRemove_container">
            <button (click)="deleteNodejs(data._id)" class="customer_table_btnRemove btn-sm btn-2" ><img class="customer_table_imgRemove"  src="../../../assets/icons/eliminar.png" ></button>
          </div>
          <hr>
        </div>
      </tr>
    </tbody>
  </table>
</div>
</div>

